.home-container {
  display: flex;
  width: 100%;
  padding: 2px 0px 64px 0px;
  flex-direction: column;

  gap: 48px;
}
.carousel-container {
  width: 90%;
  margin-bottom: 30px;
  align-self: center;
}

.each-carousel-image {
  width: 100%;
}

.popular-restarents {
  width: 90%;
  align-self: center;
}

.popular-heading {
  align-self: flex-start;
  color: #183b56;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.popular-para {
  color: var(--light-blue-gray-500, #64748b);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-ele {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-left: 10px;
}
.filter-icon {
  display: flex;
  align-items: center;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unordered-food-list {
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding-left: 70px;
}
.arrow-button {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: 1px solid var(--Light-blue-gray-700, #334155);
  cursor: pointer;
  outline: none;
}
.pagination-para {
  color: var(--Light-blue-gray-700, #334155);
  text-align: center;
  font-family: Bree Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.rating-reviews-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}
.rating-icon-container{
    display: flex;
    align-items: center;
}
.restaurant-total-ratings {
  color: var(--Light-blue-gray-200, #e2e8f0);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.horizontal-line {
  width: 1px;
  height: 33px;
  background: #e2e8f0;
}
.restaurant-two-items {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.restaurant-two-items-para {
  color: var(--Light-blue-gray-200, #e2e8f0);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
